
     <footer class="home-footer">
        <div>
           <div class="home-footer-txtbtn"> <p>about</p> <button>{}</button></div>
            <div class="home-footer-options">
                <a href="help-center">help center</a>
                <a href="about us">about us</a>
                
            </div>
        </div>
        <div>
           <div class="home-footer-txtbtn">  <p>customer services</p><button>{}</button></div>
           
            <div class="home-footer-options">
               <a href="/faq">FAQ</a>
               <a href="/help-center">help center</a>
               <a href="contact us">contact us</a>
                
            </div>
        </div>
    </footer>
    <div
    style="
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: blue;
    min-height:40px ;
    color:aliceblue;
    ">&copy; corpy right princewill cooperation 2022</div>
    <!-- <script src="slider.js"></script> -->
    <script src="bankapp.js"></script>