<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bankapp.css">
    <title>Home</title>
    
</head>
<body>
    <header>
        <div class="homepage-menu-button">
            |||
        </div>
        <div >
            <a href="/" class="home">
                <img  class ="logo" src="imgs/1.jpg">
            </a>
        </div>
        <div class="list-head">
            
           <div> <a href="/">home</a>
            <!-- <div class="header_option"></div> -->
        </div>
           <div> <a href="payment">payment</a>
            
        </div>
           <div> <a href="/login" >login</a></div>
            <div >
               
                <a  href="/createaccount" class="createaccount"> createaccount</a>
                
            </div>

        </div>
        <div class="header-input">
            <div class="header-inputbars">
            <div class="header-input-select">
              <button style="width: 30px;height: 100%;">&gt;&gt;</button>
              
            </div>
            
            <input class="input-search" type="text" placeholder="..search..."> </div>
            
            <div class="header-inputtext">search....</div>
            <div class="header-inputbutton">@</div>
          
        </div>
    </header>
    <div class="list-head2 ">
        <div>

            <a href="/">home</a>
          
    
        </div >
        
        <div>
            <a href="/createaccount" >create account</a> </div>
            <div  >
                <a  href="/createaccount" class="createaccount"> createaccount</a>
            </div>

       

     
        

    </div>
    <div class="slider">
    <button class="prev">PREV</button>
      <button class="next">NEXT</button> 
    </div>
    
    <!-- <div>
        <section class="sec-categories">
            <a href="shoes">shoes</a>
            <a href="cloths">cloth</a>
            <a href="electric-appliences">electric applainces</a>
            <a href="cooking-utensils">cooking utensils</a>

        </section>
    </div>
     -->

<!-- 
     <fieldset class="categories">
         <legend>cagefories</legend>
         <fieldset class=" categories-fieldset categories-cloths">
             <legend class="categories-legend">cloths</legend>
             <div class="category-div-img">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="a">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="b">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="c">
             </div>
             <p class="categories-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus error sapiente vero cupiditate quo laboriosam esse fugit nisi molestiae odio.</p>
         </fieldset>
         <fieldset class=" categories-fieldset categories-cloths">
             <legend class="categories-legend">cloths</legend>
             <div class="category-div-img">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="a">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="b">
                 <img src="imgs/47a8d1955b616a0b5b23599096a2d6a9.jpg" class="categories-img" id="c">

             </div>
             <p class="categories-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus error sapiente vero cupiditate quo laboriosam esse fugit nisi molestiae odio.</p>
         </fieldset>
      
     </fieldset> -->
     <section class="section1">
         <div>  
              <button id="createacct">
                 Account opening
              </button>
              <button id="beta-life">
                  beta-life
              </button>
         </div>


         <div >
             <div class="createacct"
             >
                
                     <img  src="imgs/1.jpg">
                
                 <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor unde suscipit sunt rerum vero quia perspiciatis pariatur sint. Alias ipsam, mollitia voluptates nobis culpa quas quam minima quo quia cum. Cum nobis reprehenderit facilis nemo officia possimus magni praesentium aliquam est eius quo iste, ipsam deserunt dolores quos illum voluptatibus.


                     <br>
                     <br>
                     <br>

                    <a  href="/createaccount"> <button class="createaccount" >createaccount</button></a>
                 </p>
             </div>
             <div class="beta-life"
             style="display: none; ">
                 <img  src="imgs/1.jpg" alt=""
                >
                 
             </div>

         </div>
     </section>


     <section class="section2">
         <h1>Services rendered</h1>
         <diV>
             <ol>
                 <li><img><p>quickk loan</p></li>
                 <li><img><p>Recharge card</p></li>
                 <li><img><p>E banking</p></li>
                 <li><img><p>quickk loan</p></li>
    
             </ol>
             <img src="imgs/1.jpg" alt="hello">
         </diV>
     </section>


     <div class="getanaccounttext">
         <h1> Get an account that suits you</h1>
       <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet debitis eum quae! Quos dolores nihil consequatur commodi vitae et.
           </p>
     </div>





     <footer class="home-footer">
         <div>
            <div class="home-footer-txtbtn"> <p>about</p> <button>{}</button></div>
             <div class="home-footer-options">
                 <a href="help-center">help center</a>
                 <a href="about us">about us</a>
                 
             </div>
         </div>
         <div>
            <div class="home-footer-txtbtn">  <p>customer services</p><button>{}</button></div>
            
             <div class="home-footer-options">
                <a href="/faq">FAQ</a>
                <a href="/help-center">help center</a>
                <a href="contact us">contact us</a>
                 
             </div>
         </div>
     </footer>
     <div
     style="
     width:100%;
     display:flex;
     align-items:center;
     justify-content: center;
     background-color: blue;
     min-height:40px ;
     color:aliceblue;
     ">&copy; corpy right princewill cooperation 2022</div>
     <script src="slider.js"></script>
     <script src="bankapp.js"></script>
</body>
</html>