<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form action="/logggedin "  method="POST">
            <div>
                <p>Login</p>
                <img src="imgs/1.jpg" alt="">
            </div>
            <div class="logs">
            
                <div>
                    <label for="email">email</label>
                    <input required  name="email" type="email" id="email">
                </div>
                <div>
                    <label for="password">password</label>
                    <input required name="password" type="password" id="password">
                </div>
    
                <button type="submit">login</button>
            </div>
        </form>
        <a href="createaccount"><button>create account</button></a>
         
    </div>
    
</body>
</html>